<?xml version="1.0"?>
<config>
    <modules>
        <Piimega_CheckoutFinland>
            <version>1.0.0</version>
        </Piimega_CheckoutFinland>
    </modules>
    <global>
        <models>
            <piimega_checkoutfinland>
                <class>Piimega_CheckoutFinland_Model</class>
            </piimega_checkoutfinland>
        </models>
        <resources>
            <piimega_checkoutfinland_setup>
                <setup>
                    <module>Piimega_CheckoutFinland</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </piimega_checkoutfinland_setup>
            <piimega_checkoutfinland_write>
                <use>core_write</use>
            </piimega_checkoutfinland_write>
            <piimega_checkoutfinland_read>
                <use>core_read</use>
            </piimega_checkoutfinland_read>
        </resources>
        <blocks>
            <piimega_checkoutfinland>
                <class>Piimega_CheckoutFinland_Block</class>
            </piimega_checkoutfinland>
        </blocks>
        <helpers>
            <piimega_checkoutfinland>
                <class>Piimega_CheckoutFinland_Helper</class>
            </piimega_checkoutfinland>
        </helpers>
    </global>
    <frontend>
         <translate>
            <modules>
                <Piimega_CheckoutFinland>
                    <files>
                        <default>Piimega_CheckoutFinland.csv</default>
                    </files>
                </Piimega_CheckoutFinland>
            </modules>
        </translate>
        <routers>
            <checkoutfinland>
                <use>standard</use>
                <args>
                    <module>Piimega_CheckoutFinland</module>
                    <frontName>checkoutfinland</frontName>
                </args>
            </checkoutfinland>
        </routers>
        <default>
            <router>checkoutfinland</router>
        </default>
        <layout>
            <updates>
                <piimega_checkoutfinland>
                    <file>piimega/checkoutfinland.xml</file>
                </piimega_checkoutfinland>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Piimega_CheckoutFinland>
                    <files>
                        <default>Piimega_CheckoutFinland.csv</default>
                    </files>
                </Piimega_CheckoutFinland>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <piimega_checkoutfinland>
                <active>1</active>
                <merchant_id>375917</merchant_id>
                <title>Checkout Finland</title>
                <sort_order>100</sort_order>
                <use_xml_mode>1</use_xml_mode>
                <new_order_status>pending</new_order_status>
                <approved_order_status>processing</approved_order_status>
                <delayed_order_status>pending</delayed_order_status>
                <rejected_order_status>canceled</rejected_order_status>
                <canceled_order_redirect_url>checkout/cart</canceled_order_redirect_url>
		        <create_invoice>1</create_invoice>
                <model>piimega_checkoutfinland/checkoutfinland</model>
            </piimega_checkoutfinland>
        </payment>
    </default>
</config>
